<div class="detail">
  <h1 class="text-center font-weight-bold">{{ build.name }}</h1>
  <p class="text-center">{{ build.tag }}</p>
  <div id="attributes">
    <!-- Strength -->
    <div class="row mb-3">
      <div class="attributeAmount">
        {{ build.attributes.strength }}
      </div>
      <div class="col">
        <p class="mb-0 lh-1 font-weight-bold">Strength</p>
        <input type="range" min="0" max="300" [(ngModel)]="build.attributes.strength">
      </div>
    </div>
    <!-- Dexterity -->
    <div class="row mb-3">
      <div class="attributeAmount">
        {{ build.attributes.dexterity }}
      </div>
      <div class="col">
        <p class="mb-0 lh-1 font-weight-bold">Dexterity</p>
        <input type="range" min="0" max="300" [(ngModel)]="build.attributes.dexterity">
      </div>
    </div>
    <!-- Intelligence -->
    <div class="row mb-3">
      <div class="attributeAmount">
        {{ build.attributes.intelligence }}
      </div>
      <div class="col">
        <p class="mb-0 lh-1 font-weight-bold">Intelligence</p>
        <input type="range" min="0" max="300" [(ngModel)]="build.attributes.intelligence">
      </div>
    </div>
    <!-- Focus -->
    <div class="row mb-3">
      <div class="attributeAmount">
        {{ build.attributes.focus }}
      </div>
      <div class="col">
        <p class="mb-0 lh-1 font-weight-bold">Focus</p>
        <input type="range" min="0" max="300" [(ngModel)]="build.attributes.focus">
      </div>
    </div>
    <!-- Constitution -->
    <div class="row mb-3">
      <div class="attributeAmount">
        {{ build.attributes.constitution }}
      </div>
      <div class="col">
        <p class="mb-0 lh-1 font-weight-bold">Constitution</p>
        <input type="range" min="0" max="300" [(ngModel)]="build.attributes.constitution">
      </div>
    </div>
  </div>

  <div id="weapons" class="row mt-5">
    <div id="primaryWeapon" class="col-12 col-lg-6">
      <h2>{{ build.primaryWeapon.name }}</h2>
      <h5 class="mt-4">{{ categoryPWName1 }}</h5>
      <div class="d-flex">
        <label [for]="ability.id" *ngFor="let ability of categoryPWAbilities1">
          <input type="checkbox" [name]="ability.name.replace(' ', '')" [id]="ability.id"
            [(ngModel)]="ability.isSelected" class="d-none" disabled>
          <div class="position-relative">
            <div class="overlay position-absolute" [ngStyle]="{'background-color': ability.color}"></div>
            <img class="" [src]="ability.imageUrl" [alt]="ability.name">
          </div>
        </label>
      </div>
      <h5 class="mt-4">{{ categoryPWName2 }}</h5>
      <div class="d-flex">
        <label [for]="ability.id" *ngFor="let ability of categoryPWAbilities2">
          <input type="checkbox" [name]="ability.name.replace(' ', '')" [id]="ability.id"
            [(ngModel)]="ability.isSelected" class="d-none" disabled>
          <div class="position-relative">
            <div class="overlay position-absolute" [ngStyle]="{'background-color': ability.color}"></div>
            <img class="" [src]="ability.imageUrl" [alt]="ability.name">
          </div>
        </label>
      </div>
    </div>
    <div id="secondaryWeapon" class="col-12 col-lg-6">
      <h2>{{ build.secondaryWeapon.name }}</h2>
      <h5 class="mt-4">{{ categorySWName1 }}</h5>
      <div class="d-flex">
        <label [for]="ability.id" *ngFor="let ability of categorySWAbilities1">
          <input type="checkbox" [name]="ability.name.replace(' ', '')" [id]="ability.id"
            [(ngModel)]="ability.isSelected" class="d-none" disabled>
          <div class="position-relative">
            <div class="overlay position-absolute" [ngStyle]="{'background-color': ability.color}"></div>
            <img class="" [src]="ability.imageUrl" [alt]="ability.name">
          </div>
        </label>
      </div>
      <h5 class="mt-4">{{ categorySWName2 }}</h5>
      <div class="d-flex">
        <label [for]="ability.id" *ngFor="let ability of categorySWAbilities2">
          <input type="checkbox" [name]="ability.name.replace(' ', '')" [id]="ability.id"
            [(ngModel)]="ability.isSelected" class="d-none" disabled>
          <div class="position-relative">
            <div class="overlay position-absolute" [ngStyle]="{'background-color': ability.color}"></div>
            <img class="" [src]="ability.imageUrl" [alt]="ability.name">
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
